Skip to content Search or jump to… Pull requests Issues Codespaces Marketplace Explore @rajnikantwork snitinshk / housing.cloud Private Fork your own copy of snitinshk/housing.cloud Code Issues Pull requests Actions Projects Security Insights housing.cloud/src/index.scss Rajnikant ui fixes Latest commit b680c9d yesterday History 0 contributors 1449 lines (1223 sloc) 25 KB @import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import "./scss/mixin";

@font-face {
    font-family: "helveticanowdisplay_regularRg";
    src: url("assets/fonts/helveticanowdisplay-regular-webfont.woff2") format("woff2"),
        url("assets/fonts/helveticanowdisplay-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "helvetica_now_displaymedium";
    src: url("assets/fonts/helveticanowdisplay-medium-webfont.woff2") format("woff2"),
        url("assets/fonts/helveticanowdisplay-medium-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "helvetica_now_displaylight";
    src: url("assets/fonts/helveticanowdisplay-light-webfont.woff2") format("woff2"),
        url("assets/fonts/helveticanowdisplay-light-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "helvetica_now_displaybold";
    src: url("assets/fonts/helveticanowdisplay-bold-webfont.woff2") format("woff2"),
        url("assets/fonts/helveticanowdisplay-bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

/* Theme color */

:root {
    --bs-blue: #4a6be2;
    --bs-pink: #cd4364;
    --bs-red: #d32f2f;
    --bs-orange: #ff9f0c;
    --bs-yellow: #f9e80d;
    --bs-green: #1ecc33;
    --bs-cyan: #30beff;
    --bs-white: #ffffff;
    --bs-gray: #526872;
    --bs-txt-btn: #1f213d;
    --bs-black: #000000;
    --bs-body-font-family: "helveticanowdisplay_regularRg";
    --bs-body-font-family-lg: "helvetica_now_displaylight";
    --bs-body-font-family-md: "helvetica_now_displaymedium";
    --bs-body-font-family-bd: "helvetica_now_displaybold";
}

*,
::after,
::before {
    box-sizing: border-box;
}

* {
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-appearance: value;
    -moz-appearance: value;
    appearance: value;
}

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a,
img,
img a {
    border: 0;
    outline: 0 !important;
    text-decoration: none !important;
    @include transition(all 0.3s ease-in);
}

:focus {
    outline: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ol,
ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

.clearfix:after {
    clear: both;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
article {
    display: block;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

html,
body {
    min-height: 100%;
}

body {
    font-family: var(--bs-body-font-family);
    font-size: size(14);
    position: relative;
    min-height: 100vh;
    background: url(../public/images/bgimg.png) no-repeat top center;
    background-size: cover;

    @media screen and (max-width: 767px) {
        background-image: url(../public/images/mobile_bg.png);
    }
}

.container {
    width: size(1280);
    max-width: 100%;
    margin: 0 auto;

    @media screen and (max-width: 1280px) {
        padding-left: size(15);
        padding-right: size(15);
    }
}

.container_1 {
    width: size(1414);
    max-width: 100%;
    margin: 0 auto;

    @media screen and (max-width: 1400px) {
        padding-left: size(15);
        padding-right: size(15);
    }
}

.container_2 {
    width: size(1520);
    max-width: 100%;
    margin: 0 auto;

    @media screen and (max-width: 1550px) {
        padding-left: size(15);
        padding-right: size(15);
    }
}

.MuiTypography-root,
.MuiMenuItem-root,
.MuiButtonBase-root,
.MuiTableCell-root {
    font-family: var(--bs-body-font-family) !important;
}

.MuiCheckbox-root.Mui-checked,
.MuiCheckbox-indeterminate,
.MuiRadio-root.Mui-checked {
    color: var(--bs-theme) !important;
}

.globle_loder {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);

    .MuiCircularProgress-root {
        color: var(--bs-theme);
    }
}

.heading {
    font-size: size(64);
    line-height: size(72);
    color: var(--bs-txt-btn);

    @media screen and (max-width: 1280px) {
        font-size: size(54);
    }
}

.sub_heading {
    font-size: size(30);
    line-height: size(38);
    color: var(--bs-txt-btn);
    font-family: var(--bs-body-font-family-lg);

    @media screen and (max-width: 1280px) {
        font-size: size(24);
        line-height: 1.5;
    }
}

.Dflex {
    @include flexbox;

    &.sp-bt {
        @include justify-content(space-between);
    }

    &.al-cnt {
        @include align-items(center);
    }

    &.js-cnt {
        @include justify-content(center);
    }

    &.al-tp {
        @include align-content(start);
    }

    &.fl-wp {
        @include flex-wrap(wrap);
    }

    &.fl-revers {
        @include flex-direction(row-reverse);
    }
}

// Line Button
.text_nav {
    font-weight: 500;
    position: relative;
    color: rgba(var(--bs-white-rgb), var(--bs-text-opacity));

    &.wht {
        &::before {
            background: rgba(var(--bs-white-rgb));
        }

        &:hover {
            color: rgba(var(--bs-white-rgb));
        }
    }

    &.themeBlue {
        color: var(--bs-primary);

        &::before {
            background: var(--bs-primary);
        }

        &:hover {
            color: var(--bs-primary);
        }
    }

    &::before {
        @include beforeBl;
        width: 100%;
        height: 1px;
        @include transform(scaleX(0) translateZ(0));
        @include transform-origin(100% 100%);
        @include transition(transform 0.5s cubic-bezier(0.19, 1, 0.22, 1));
    }

    &:hover {
        &::before {
            @include transform(scaleX(1) translateZ(0));
            @include transform-origin(0 0);
        }
    }
}

.wrapper {
    position: relative;
}

.btn:hover {
    -webkit-animation: btnscale 0.5s linear 1;
    animation: btnscale 0.5s linear 1;
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

@-webkit-keyframes btnscale {
    0% {
        transform: scale(1);
    }

    15% {
        transform: scale(1.05);
    }

    to {
        transform: scale(1);
    }
}

@keyframes btnscale {
    0% {
        transform: scale(1);
    }

    15% {
        transform: scale(1.05);
    }

    to {
        transform: scale(1);
    }
}

@keyframes ripple {
    from {
        transform: scale(0) translate(-50%, -50%);
        opacity: 1;
    }

    to {
        transform: scale(1) translate(-50%, -50%);
        opacity: 0;
    }
}

.button-effect::before {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.376);
    position: absolute;
    content: "";
    width: 300px;
    height: 300px;
    left: 50%;
    top: 50%;
    transform: scale(0) translate(-50%, -50%);
    -webkit-transform: scale(0) translate(-50%, -50%);
    transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
}

.button-effect:hover::before {
    animation-name: ripple;
    animation-timing-function: linear;
    animation-duration: 0.5s;
}

header {
    padding: size(35) 0;

    @media screen and (max-width: 676px) {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        background: linear-gradient(180deg,
                #ffffff 6.87%,
                rgba(245, 247, 248, 0) 100%);
        backdrop-filter: blur(2px);
        z-index: 9;
        padding: size(20) 0;
    }

    .rt {
        @media screen and (max-width: 676px) {
            position: fixed;
            width: 100%;
            height: 100vh;
            top: 0;
            left: 0;
            background: rgb(255 255 255);
            display: flex;
            flex-direction: column;
            justify-content: center;
            transition: all 0.3s ease-in-out;
            transform: translateX(100%);
        }

        a {
            font-size: size(19);
            line-height: 1.5;
            color: var(--bs-txt-btn);
            margin-right: size(35);
            position: relative;

            @media screen and (max-width: 1280px) {
                font-size: size(17);
            }

            @media screen and (max-width: 676px) {
                font-size: 32px;
                line-height: 47px;
                margin: 0 0 40px;
            }

            &::before {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 1px;
                background: var(--bs-pink);
                content: "";
                transform: scaleX(0) translateZ(0);
                transform-origin: 100% 100%;
                -webkit-transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
                transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
            }

            &:hover::before {
                transform: scaleX(1) translateZ(0);
                transform-origin: 0 0;
                -webkit-transform: scaleX(1) translateZ(0);
                -webkit-transform-origin: 0 0;
            }

            &:hover {
                color: var(--bs-pink);
            }
        }
    }

    .get_stst {
        background-color: transparent;
        font-size: size(19);
        line-height: 1.5;
        color: var(--bs-txt-btn);
        border: 2px solid rgba(23, 28, 78, 0.75);
        @include radius(size(23));
        @include box-shadow(none);
        text-transform: capitalize;
        padding: size(9.3) size(26.3);

        @media screen and (max-width: 1024px) {
            font-size: size(16);
            padding: size(8.3) size(20.3);
        }

        &:hover {
            border-color: var(--bs-blue);
            color: var(--bs-white);
            background-color: var(--bs-blue);
        }
    }
}

.navigation-open {
    header {
        .rt {
            @media screen and (max-width: 676px) {
                transform: translateX(0%);
            }
        }
    }

}

.hm_hd {
    font-weight: 400;
    font-size: size(70);
    line-height: 1.1;
    text-align: center;
    color: var(--bs-txt-btn);

    @media screen and (max-width: 1280px) {
        font-size: size(50);
    }

    @media screen and (max-width: 767px) {
        font-size: size(45);
    }
}

.hm_shd {
    font-family: var(--bs-body-font-family-lg);
    font-size: size(26);
    line-height: 1.5;
    text-align: center;
    color: rgba(31, 33, 61, 0.5);

    @media screen and (max-width: 1280px) {
        font-size: size(22);
    }
}

.selfmbob {
    @media screen and (max-width: 676px) {
        margin-bottom: 20px;
    }
}

.hm_banner {
    padding: size(30) size(80);

    @media screen and (max-width: 676px) {
        padding: size(70) size(0);
    }

    .container_1 {
        @include flexbox;
        @include flex-direction(column);
        @include align-items(center);
        @include justify-content(center);

        @media screen and (max-width: 676px) {
            @include flex-direction(unset);
            @include flex-wrap(wrap);
        }

        .img {
            @media screen and (max-width: 676px) {
                order: 1;
            }
        }
    }

    .hm_hd {
        width: size(775);
        max-width: 100%;
        margin: 0 auto size(30);

        @media screen and (max-width: 1280px) {
            width: size(600);
        }

        @media screen and (max-width: 676px) {
            order: 2;
            width: 100%;
        }
    }

    .hm_shd {
        width: size(539);
        max-width: 100%;
        margin: 0 auto size(-50);

        @media screen and (max-width: 1280px) {
            width: size(419);
        }

        @media screen and (max-width: 676px) {
            order: 3;
            margin: 0 auto;
        }

        &.sm {
            width: size(433);
            margin: 0 auto 0;

            @media screen and (max-width: 676px) {
                order: 5;
            }
        }
    }

    .get_stst_rd {
        background-color: var(--bs-pink);
        font-size: size(20);
        letter-spacing: 0.02em;
        font-family: "Montserrat", sans-serif !important;
        line-height: 1.5;
        color: var(--bs-white);
        @include radius(size(32));
        @include box-shadow(none);
        text-transform: capitalize;
        margin: size(-210) 0 size(120) 0;
        padding: size(20.5) size(44);
        position: relative;
        z-index: 2;

        @media screen and (max-width: 1024px) {
            font-size: size(16);
            margin: size(-80) 0 size(50) 0;
            padding: size(20.5) size(44);
        }

        @media screen and (max-width: 676px) {
            font-size: size(16);
            margin: size(0) 0 size(50) 0;
            padding: size(20.5) size(44);
        }

        @media screen and (max-width: 676px) {
            order: 4;
            margin: size(20) 0 size(50) 0;
        }

        &::after {
            width: 187.88px;
            height: 46.42px;
            background: #cd4364;
            opacity: 0.3;
            filter: blur(11.0517px);
            border-radius: 706.303px;
            position: absolute;
            bottom: -15px;
            left: 28px;
            z-index: -1;
            content: "";
        }

        img {
            width: size(17);
            margin-left: size(10);
        }

        &:hover {
            border-color: var(--bs-pink);
            color: var(--bs-white);
            background-color: var(--bs-pink);
        }
    }
}

.modern_student {
    padding: size(80) 0 size(360) 0;

    @media screen and (max-width: 767px) {
        padding: size(0) 0 size(100) 0;
    }

    .container {
        @media screen and (max-width: 767px) {
            @include flex-wrap(wrap);
        }
    }

    .heading {
        @media screen and (max-width: 767px) {
            text-align: center;
            font-size: 28px;
            line-height: 32px;
            margin-bottom: 30px;
        }
    }

    .sub_heading {
        @media screen and (max-width: 767px) {
            text-align: center;
            margin-top: 30px;
        }
    }

    .img {
        width: size(854);
        max-width: 100%;
        height: size(534);
        overflow: hidden;
        @include radius(14px);

        @media screen and (max-width: 1024px) {
            width: size(600);
        }

        @media screen and (max-width: 767px) {
            width: 100%;
            height: auto;
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .lt {
        @include flex-direction(column);
        flex: 1;
    }
}

.purpose-built {
    .top {
        @media screen and (max-width: 767px) {
            @include flex-wrap(wrap);
        }

        .heading {
            width: size(600);

            @media screen and (max-width: 767px) {
                width: 100%;
                text-align: center;
                font-size: 36px;
                line-height: 42px;
                margin-bottom: 20px;
            }
        }

        .sub_heading {
            width: size(286);
            text-align: right;

            @media screen and (max-width: 767px) {
                width: 100%;
                text-align: center;
            }
        }
    }
}

.purpose-builtls {
    @include flexbox;
    @include justify-content(space-between);
    @include flex-wrap(wrap);

    li {
        width: calc(33.3% - size(20));
        background: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(15px);
        border-radius: 24px;
        padding: size(30);
        margin-bottom: 30px;

        @media screen and (max-width: 991px) {
            width: calc(50% - size(20));
        }

        @media screen and (max-width: 767px) {
            width: 100%;
            padding: size(20) 0;
            margin: 0;
            background: transparent;
            backdrop-filter: blur(0);
            text-align: center;
        }

        figure {
            height: size(210);

            @media screen and (max-width: 1024px) {
                height: size(170);
            }

            @media screen and (max-width: 767px) {
                height: auto;
            }
        }

        h4 {
            font-size: size(26);
            font-weight: 500;
            font-family: "Montserrat", sans-serif !important;
            line-height: 1.5;
            color: var(--bs-txt-btn);
            margin-bottom: size(10);

            @media screen and (max-width: 1024px) {
                font-size: size(20);
            }
        }

        p {
            font-size: size(16);
            font-weight: 500;
            font-family: "Montserrat", sans-serif !important;
            line-height: 1.5;
            color: rgba(31, 33, 61, 0.65);

            @media screen and (max-width: 1024px) {
                font-size: size(14);
            }
        }
    }
}

#notifictBxImg,
.bellborder {
    opacity: 0;
    visibility: hidden;
    @include transition(all 1s cubic-bezier(0, 0, 0, 1.16));
}

#searchBoxImg {
    opacity: 0;
    visibility: hidden;
    @include transition(all 1.5s cubic-bezier(0, 0, 0, 1.16));
}

#notifictBxImg {
    @include transform(translateX(size(320)));
}

#noti_bxhover:hover+#notifictBxImg {
    opacity: 1;
    visibility: visible;
    @include transform(translateX(size(0)));
}

#noti_bxhover:hover .bellborder,
#seachbxHover:hover .bellborder {
    opacity: 1;
    visibility: visible;
}

#seachbxHover:hover #searchBoxImg {
    opacity: 1;
    visibility: visible;
}

.conveniently_quickly {
    margin-top: size(100);
    margin-bottom: size(100);
}

.conveniently_quickly .container {
    display: flex;
    align-items: center;

    @media screen and (max-width: 991px) {
        @include flex-wrap(wrap);
    }
}

.conveniently_quickly .anim_bx {
    margin-left: -74px;
    position: relative;

    @media screen and (max-width: 991px) {
        margin-left: 0;
        width: 100%;
    }

    .hiddenboxani {
        width: 599px;
        height: 370px;
        position: absolute;
        left: 71px;
        top: 209px;
    }
}

.conveniently_quickly .rt {
    width: size(598);
    margin: 0 0 0 size(-220);

    @media screen and (max-width: 1024px) {
        margin: 0 0 0 size(-320);
    }

    @media screen and (max-width: 991px) {
        width: 100%;
        margin: 0;
    }
}

.bx_head {
    font-size: 48px;
    line-height: 54px;
    color: #1f213d;
    margin-bottom: size(30);

    @media screen and (max-width: 1024px) {
        font-size: 40px;
    }
}

.bx_subhead {
    font-size: 20px;
    line-height: 30px;
    font-family: var(--bs-body-font-family-lg);
    color: rgba(31, 33, 61, 0.8);

    @media screen and (max-width: 1024px) {
        font-size: 16px;
    }

    img {
        display: inline-block;
        vertical-align: sub;
        margin: 0 size(5);
    }
}

.sectiion_wrp_img {
    margin: size(100) 0 size(100);

    @media screen and (max-width: 991px) {
        margin: size(50) 0 size(50);
    }

    .container {
        @media screen and (max-width: 991px) {
            @include flex-wrap(wrap);
        }

        @media screen and (max-width: 991px) {
            @include flex-direction(column-reverse);
        }
    }

    .lt {
        width: size(426);
        max-width: 100%;

        @media screen and (max-width: 991px) {
            width: 100%;
        }
    }

    .img {
        width: size(766);
        max-width: 100%;

        @media screen and (max-width: 991px) {
            width: 100%;
            margin-top: size(30);
        }
    }
}

.closer_student {
    margin: size(250) 0 size(250);

    @media screen and (max-width: 767px) {
        margin: size(100) 0 size(100);
    }

    .container {
        @media screen and (max-width: 767px) {
            @include flex-wrap(wrap);
            @include flex-direction(column);
        }
    }

    .student_details_center {
        width: size(549);
        max-width: 100%;
        text-align: center;

        @media screen and (max-width: 767px) {
            width: size(300) !important;
            margin: 30px 0 40px;
        }

        @media screen and (max-width: 1024px) {
            width: size(449);
        }

        .get_stst_blue {
            background-color: var(--bs-blue);
            font-size: size(20);
            letter-spacing: 0.02em;
            font-family: "Montserrat", sans-serif !important;
            line-height: 1.5;
            color: var(--bs-white);
            @include radius(size(32));
            @include box-shadow(none);
            text-transform: capitalize;
            margin: size(40) auto 0;
            padding: size(20.5) size(44);
            position: relative;
            z-index: 2;

            &::after {
                width: 187.88px;
                height: 46.42px;
                background: var(--bs-blue);
                opacity: 0.3;
                filter: blur(11.0517px);
                border-radius: 706.303px;
                position: absolute;
                bottom: -15px;
                left: 28px;
                z-index: -1;
                content: "";
            }

            img {
                width: size(17);
                margin-left: size(10);
            }

            &:hover {
                border-color: var(--bs-blue);
                color: var(--bs-white);
                background-color: var(--bs-blue);
            }
        }

        .bx_head {
            font-size: size(70);
            line-height: 1;

            @media screen and (max-width: 1024px) {
                font-size: size(54);
            }

            @media screen and (max-width: 767px) {
                font-size: 36px;
                line-height: 42px;
            }
        }

        .bx_subhead {
            font-size: size(26);
            line-height: 1.4;

            @media screen and (max-width: 1024px) {
                font-size: size(20);
            }

            @media screen and (max-width: 767px) {
                font-size: 18px;
                line-height: 26px;
            }
        }
    }
}

footer {
    background: linear-gradient(180deg,
            rgba(252, 251, 255, 0.3) 0%,
            rgba(211, 226, 255, 0.3) 258.33%);
    backdrop-filter: blur(15px);
    padding: size(100) 0 size(150) 0;

    @media screen and (max-width: 767px) {
        background: #fff;
    }

    @media screen and (max-width: 767px) {
        padding: size(50) 0 size(30) 0;
    }

    .foot_top {
        @include align-items(flex-start);

        @media screen and (max-width: 767px) {
            @include flex-wrap(wrap);
        }

        .foot_del {
            @media screen and (max-width: 767px) {
                width: 100%;
            }

            figure {
                @media screen and (max-width: 767px) {
                    margin: 0 auto 60px;
                    width: 80px;
                    display: table;
                }
            }
        }
    }

    .foot_del {
        width: size(240);
    }

    .foot_Para {
        width: size(240);
        font-size: size(18);
        line-height: size(26);
        margin-top: size(30);
        color: rgba(23, 28, 79, 0.6);

        @media screen and (max-width: 767px) {
            display: none;
        }
    }

    .ackedByWd {
        @media screen and (max-width: 767px) {
            width: 100%;
        }
    }

    .foot_backedBy {
        @media screen and (max-width: 767px) {
            margin: 10px auto;
        }

        p {
            font-weight: 400;
            font-size: 16px;
            text-align: right;
            line-height: 21px;
            font-family: "Montserrat", sans-serif !important;
            color: rgba(31, 33, 61, 0.5);
            margin-bottom: size(10);

            @media screen and (max-width: 767px) {
                text-align: center;
                margin-bottom: 20px;
            }
        }
    }

    .foot_nav {
        @include flexbox;
        @include flex-direction(column);
        @include align-items(flex-start);

        h4 {
            font-size: 20px;
            line-height: 29px;
            color: #171c4e;
            font-family: var(--bs-body-font-family-bd);
        }

        a {
            font-size: 18px;
            line-height: 26px;
            color: #41457e;
            margin-top: size(15);
            position: relative;

            &::before {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 1px;
                background: #171c4e;
                content: "";
                transform: scaleX(0) translateZ(0);
                transform-origin: 100% 100%;
                -webkit-transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
                transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
            }

            &:hover::before {
                transform: scaleX(1) translateZ(0);
                transform-origin: 0 0;
                -webkit-transform: scaleX(1) translateZ(0);
                -webkit-transform-origin: 0 0;
            }

            &:hover {
                color: #171c4e;
            }
        }
    }

    .foot_cont {
        background: rgba(255, 255, 255, 0.7);
        font-size: size(18);
        line-height: 1.5;
        color: #171c4e;
        @include radius(size(99));
        @include box-shadow(none);
        text-transform: none;
        padding: size(15.5) size(34.4);

        &:hover {
            border-color: var(--bs-blue);
            color: var(--bs-white);
            background-color: var(--bs-blue);
        }
    }

    .footer_bottom {
        margin-top: size(60);
        padding-top: size(50);
        border-top: 1px solid rgba(23, 28, 78, 0.05);
        @include flexbox;
        @include justify-content(space-between);

        @media screen and (max-width: 767px) {
            @include flex-wrap(wrap);
        }

        .copyright,
        .del {
            font-size: 14px;
            line-height: 18px;
            color: rgba(65, 69, 126, 0.5);
        }

        .copyright {
            @include flexbox;
            @include align-items(center);

            @media screen and (max-width: 767px) {
                margin-bottom: 30px;
            }

            figure {
                opacity: 0.4;
                margin-right: 20px;
            }
        }

        .del {
            width: size(267);
            max-width: 100%;

            @media screen and (max-width: 767px) {
                width: auto;
            }
        }
    }
}

.rect_ls_grp {
    position: relative;

    .rect_ls2 {
        position: absolute;
        left: 100%;
        top: 0;
        @include transform(translateX(58%));
        opacity: 0;
    }
}

.bar_rect,
.rec_text_gruop,
.rect_txt_one,
.rect_txt_two,
.fill_txt_pth,
.rect_ls1,
.rect_ls2 {
    transition: all 1s ease-in-out;
}

.animat_svg {
    overflow: visible;

    @media screen and (max-width: 991px) {
        max-width: 100%;
    }
}

.animation_rect .rect_ls1 {
    opacity: 0;
    @include transform(translateX(-65%));
}

.animation_rect .rect_ls2 {
    opacity: 1;
    @include transform(translateX(0%));
}

.animation_rect .bar_rect {
    @include transform(translateX(-170px));
}

.animation_rect .rec_text_gruop {
    @include transform(translateX(-155px));
}

.animation_rect .rec_text_gruop .rect_txt_two .strk_txt {
    stroke: #fff !important;
    stroke-opacity: 1 !important;
}

.animation_rect .rec_text_gruop .rect_txt_two .fill_txt_pth {
    fill: #fff !important;
    fill-opacity: 1 !important;
}

.animation_rect .rec_text_gruop .rect_txt_one .strk_txt {
    stroke: #515477 !important;
    stroke-opacity: 0.65 !important;
}

.animation_rect .rec_text_gruop .rect_txt_one .fill_txt_pth {
    fill: #171c4e !important;
    fill-opacity: 0.65 !important;
}

.mobilevw {
    display: none !important;
}

@media screen and (max-width: 767px) {
    .mobilevw {
        display: block !important;
    }

    .desktopvw {
        display: none !important;
    }
}

Footer © 2023 GitHub,
Inc. Footer navigation Terms Privacy Security Status Docs Contact GitHub Pricing API Training Blog About housing.cloud/index.scss at b680c9da56a4968bcead06b92a5c90fb25ed0d16 · snitinshk/housing.cloud